@font-face {
    font-family: 'Aceh';
    src: url('Aceh-Light.woff2') format('woff2'),
        url('Aceh-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aceh';
    src: url('Aceh-Light.woff2') format('woff2'),
        url('Aceh-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aceh Med';
    src: url('Aceh-MediumOblique.woff2') format('woff2'),
        url('Aceh-MediumOblique.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aceh Soft';
    src: url('AcehSoft-Regular.woff2') format('woff2'),
        url('AcehSoft-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aceh';
    src: url('Aceh-MediumOblique.woff2') format('woff2'),
        url('Aceh-MediumOblique.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aceh Soft';
    src: url('AcehSoft-Regular.woff2') format('woff2'),
        url('AcehSoft-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

